<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.hidden_field :commenter_id, value: current_user.id %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.rich_text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
