<%= render @comment.parent if @comment.parent %>

<%= form_with model: [ @post, @comment ] do |form| %>
  <%= form.hidden_field :parent_id%>
  <p>
    <%= form.hidden_field :commenter_id, value: current_user.id %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.rich_text_area :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<p><%= link_to "Back to Posts", posts_path %></p>